.vscode/
!.vscode/extensions.json      # opcional: si quieres compartir extensiones recomendadas
!.vscode/settings.json        # opcional: si quieres forzar algunas settings (ej. ruler en 80)
.vscode-server/

LICENSE
COPYING
INSTALL.md
TODO.md
Makefile
notes/

# OS-specific junk
.DS_Store
Thumbs.db
.DS_Store?

tmux/.config/tmux/plugins/
tmux/.config/tmux/plugins/*

# Editor/temp/backup files
*~
.#*
\#*\#
*.swp
*.swo
*.bak
