.DS_Store
nvim_old
.zcompdump
.zsh_history
.zsh_history.new
.zsh_history.new
.zsh_sessions
configstore
gcloud
gh
ghc
github-copilot
gitui/theme.ron.old
karabiner
gtk-2.0/
karabiner/automatic_backups
karabiner/**/*.json
nvim/lazy-lock.json
nvim/spell
raycast
spotify-tui
alacritty/themes
.zsh_history.LOCK
himalaya
imapnotify
mutt/accounts/sylvanfranklin@sylvanfranklin.com.muttrc
mutt/muttrc
mutt/.mailsynclastrun
msmtp
